<!DOCTYPE html>
<html>
<head>
    <title>Saved File</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class='ui container main-wrapper'>
    <h1>Crop Tool</h1>
    <p>Download the Cropped Images here</p>

    <div id='cropped-images-wrapper'>

    </div>


    <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
    <script src='./javascripts/downloads.js'></script>
</div>

</body>
</html>
