<!DOCTYPE html>
<html>
  <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css'>
        <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <body>
        <div class='ui container main-wrapper'>
            <h1>Crop Tool</h1>
            <p>Welcome to Crop tool. Made with <3</p>

            <div class='file-upload-button-wrapper'>
                <input type="file" id="file-upload" />
                <label for="file-upload" class="ui green floated button">
                    <i class="ui upload icon"></i>
                    Upload image
                </label>

                <a class="ui primary button" id='download-images'>
                    Download Cropped Images
                </a>
            </div>

            <div class="ui below pointing red basic label" id='image-error'>
                <!-- Insert the error Message here -->
            </div>

            <div class='images-wrapper'>
                <div id='preview' class='preview-image-wrapper'><!-- Insert Original Image Preview --></div>

                <div id='cropped-images-wrapper'><!-- Insert Cropped images her --></div>
            </div>
        </div>

        <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js'></script>
        <script src='/javascripts/crop.js'></script>
        <script src='/javascripts/main.js'></script>
    </body>
</html>
